{% load static %}
<!doctype html>
<html lang="en">
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </header>
    <body>
        <div class="container m-3">
            <form>
                <label for="actual-pass" calss="form-label">Actual password</label>
                <input type="password" class="form-control mt-2 mb-2" id="actual-pass" name="actual-pass">
                <p id="old-pass-match">Incorrect password</p>
                <label for="new-pass" calss="form-label">New password</label>
                <input type="password" class="form-control mt-2 mb-2" id="new-pass" name="new-pass">
                <label for="confirm-pass" calss="form-label">Confirm password</label>
                <input type="password" class="form-control mt-2 mb-2" id="confirm-pass" name="confirm-pass">
                <div id="match-message"></div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-primary disable" id="change-btn">Update</button>
                    </div>
                    <div class="col">
                        <a href="http://127.0.0.1:8000/">
                            <button type="button" class="btn btn-primary">Cancel</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <script type="module" src="{% static 'utils.js' %}"></script>
        <script type="module" src="{% static 'change_password.js' %}"></script>
    </body>
</html>